include README.md
include .env.example

recursive-include static *
recursive-include templates *
recursive-include logs *

global-exclude __pycache__ *
global-exclude *.py[cod]
git add MANIFEST.in
git commit -m "MANIFEST.in eklendi"
git push origin main
